// 1.

$yellowColor: #daa520;
$darkYellowColor: #b18d30;
$grayColor: #c4c4c4;
$darkGrayColor: #565656;
$middleGrayColor: #565656;
$whiteColor: #fff4f4;
$hoverGreenColor: #00a613;
$activeGreenColor: #00b700;

// 2. 到 vite.config.js 做自動引入
