// 1.

$yellowColor: #daa520;
$darkYellowColor: #b18d30;
$grayColor: #c4c4c4;
$darkGrayColor: #565656;

$xtxColor: #27ba9b;
$helpColor: #e26237;
$sucColor: #1dc779;

$priceColor: #cf4444;

// 2. 到 vite.config.js 做自動引入
