@import "./base.css";

* {
  box-sizing: border-box;
  font-family: Arial, "PingFang SC", "Microsoft Yahei", sans-serif;
  padding: 0;
  margin: 0;
}

a {
  color: initial;
  text-decoration: none;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #222;
  margin: 15px 0 20px 0;
}

html {
  background-color: #daa520;
}

ul {
  list-style: none;
}
/* input,
textarea {
  font-size: 1rem;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  outline: none;
} */

button {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.15);
  border: none;
}

.disCen {
  display: flex;
  justify-content: center;
}

.pTwo {
  text-indent: 2.5rem;
}
